# this is a comment
# mysql_url = jdbc:mysql://216.92.1.145/mbegeman_c2?user=mbegeman_3&password=Granola1
mysql_url = jdbc:mysql://72.1.100.208/jconklin_compend01?user=jconklin_comp01a&password=5tgb6yhn

# IMPORTANT: **forward** slashes here.
# EXAMPLE:   derby_url = jdbc:derby:C:/Program Files/Compendium/System/resources/Databases/??;create=false

# derby_url = jdbc:derby:C:/Program Files/Compendium/System/resources/Databases/test_1291318430137;create=false

derby_url = jdbc:derby:C:/Program Files/Compendium/System/resources/Databases/sync_15_1294175198198;create=false


# millisecond math:  1000 = 1 second
# to convert between milliseconds and any given date, go to this page
# http://www.esqsoft.com/javascript_examples/date-to-epoch.htm
# BUT!! add 3 zeros because the page leaves off the milliseconds
# so 1290973444 really should be 1290973444000  <- add 3 zeros

# last_sync_time = 1295000000000
# last_sync_time = 1290973444000

# last sync time == 0 means 'delete initial derby installation'?
# last_sync_time = 0
last_sync_time =   1294175631111


# another setting is the sync_log_dir, this is the directory where the sync program writes it's logs
# sync_log_dir =  C:/Program Files/Compendium/System/resources/Logs/
